---
import Layout from '~/layouts/fr/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/fr/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';
import blogEnabled from '~/../envConfig';
const metadata = {
  title: 'Fabrice Monnier - Freelance DevOps / Architecture / Cloud ',
};
---

<Layout metadata={metadata}>


  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Fabrice Monnier"
    tagline="Freelance DevOps - Architecture - Cloud"
    actions={[{ variant: 'primary', text: 'Contacte moi', href: getPermalink('#contact') }]}
  >
    <Fragment slot="subtitle">
      Je suis un expert en informatique avec plus de 20 ans d'expérience, aidant les entreprises à concevoir des solutions techniques répondant à des problématiques concrètes. <br />
      Mes spécialités sont le DevOps, le développement backend et le cloud computing.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={}
    image={{
      src: '~/assets/images/christopher-gower-m_HRfLhgABo-unsplash.jpg',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">A Propos</h2>
      <p>
        Je suis architecte logiciel et cloud freelance, avec plusieurs années d’expérience dans la conception, le développement et la livraison de solutions robustes et évolutives répondant aux besoins de votre entreprise.
      </p>
      <br />
      <p>
        Spécialisé sur AWS (avec 6 certifications), je vous accompagne sur vos projets cloud, data et applicatifs, de la planification initiale jusqu’au déploiement en production.
      </p>
      <br />
      <p>
        Avant de me lancer en freelance, j’ai travaillé avec des éditeurs de logiciels et des banques d’investissement, en France et à l’international, ce qui m’a permis de collaborer avec une grande variété de clients.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Solutions Consultant <br /> <span class="font-normal">Ataccama (Data Quality SaaS vendor), Paris (Full Remote), France</span> <br /> <span class="text-sm font-normal">2022 - Present</span>',
        description: `Démontrer la valeur métier du produit d'Ataccama auprès des prospects à travers des preuves de concept et des ateliers.<br /> 
Prototypes (par exemple : intégration avec Databricks, AWS, Azure). <br />`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'AWS Solutions Architect <br /> <span class="font-normal">Amazon Web Services, Paris, France</span> <br /> <span class="text-sm font-normal">2021 - 2022</span>',
        description: `Accompagnement des clients existants et des prospects dans la conception d’architectures cloud sur AWS.<br />
Réalisation de preuves de concept.<br />
Présentation de webinaires et organisation d’ateliers pour démontrer la proposition de valeur d’AWS.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Technical Architect <br /> <span class="font-normal">Societe Generale Investment Banking, Paris, France</span> <br /> <span class="text-sm font-normal">2020 - 2021</span>',
        description: `Architecte technique pour le département IT Risques de SGIB, en support des équipes de développement à Paris et à Bangalore pour la migration du système d'information risques vers le cloud public Microsoft Azure.<br />
Java, Spark, Kafka, Hadoop, Docker, Kubernetes, Microsoft Azure (HDInsight, AKS).
`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Senior Technical Leader - Cloud & Big Data <br /> <span class="font-normal">Societe Generale Investment Banking, Paris, France</span> <br /> <span class="text-sm font-normal">2017 - 2020</span>',
        description: `Technical lead pour le référentiel central des données pré-trade et post-trade chez SGIB, agrégées à des fins de reporting réglementaire et d’analyse des risques.<br />
Conception et développement d’API avec la stack Java Spring Boot / Spring Cloud.<br />
Architecture et mise en place de pipelines de traitement de données à grande échelle sur Hadoop/S
`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Technical Leader & Scrum Master - Full Stack <br /> <span class="font-normal">Lyxor Asset Management, Paris, France</span> <br /> <span class="text-sm font-normal">2014 - 2010</span>',
        description: `Développeur full-stack et technical lead<br />
Front-end : Apache/PHP/MySQL, AngularJS, jQuery, Bootstrap.<br />
Back-end : Java, services web SOAP, moteur de calcul personnalisé interfaçé avec une base de données Oracle 11G via JMS.
`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Technical Leader & Project Manager <br /> <span class="font-normal">Societe Generale / Risk Management, Paris, France</span> <br /> <span class="text-sm font-normal">2010 - 2014</span>',
        description: `Programme réglementaire de grande envergure (conformité Bâle 2).<br />
Management d’équipe (2 Business Analysts, 6 Développeurs).<br />
Gestion de projet.<br />
Coordination avec l’équipe off-shore à Bangalore (1 Business Analyst / 4 Développeurs).<br />
Responsable technique et fonctionnel.
`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Senior Developer <br /> <span class="font-normal">Reuters Financial Software, Paris, France</span> <br /> <span class="text-sm font-normal">2002 - 2010</span>',
        description: `Développeur C, C++ et Java.<br />
Développeur web (JSP, Servlets).
`,
        icon: 'tabler:briefcase',
      }
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Diplômes"
    items={[
      {
        title: `Ingénieur en Systèmes d'Information & Management<br /> <span class="font-normal">Ecole Française d'Electronique et d'Informatique (EFREI) - Paris, France</span> <br /> <span class="text-sm font-normal">1997 - 2002</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Master en Finance de Marché<br /> <span class="font-normal">CNAM - ESSEC - Paris, France</span> <br /> <span class="text-sm font-normal">2007 - 2009</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Compétences"
    subtitle="Mes compétences pour livrer vos projets et concevoir des applications robustes et maintenables."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Cloud Computing',
        description: 'Architecture, création et déploiement d\'applications Cloud Native.',
      },
      {
        title: 'Data Platforms',
        description: 'Connaissances approfondies de data warehouse cloud, de plateformes de streaming, de plateformes Big Data et des bases de données SQL et NoSQL.',
      },
      {
        title: 'Languages/Frameworks',
        description: 'Connaissances approfondies de Java, Python, du framework Spring (Spring Core, Spring Boot, Spring Cloud), NodeJS, Apache NiFi, et bien plus encore.',
      },
      {
        title: 'DevOps',
        description: 'Maîtrise de Maven, Jenkins, Sonar, GitHub, GitLab, ElasticSearch, Logstash, Kibana, Docker/Kubernetes.',
      },
      {
        title: 'Delivery processes',
        description: 'Expérience en gestion de projet et dans les processus Agile.',
      },
      {
        title: 'Software Craftmanship',
        description: 'Skilled with unit testing, TDD, BDD, Mocks/Stubs, Pair programming, refactoring.',
      }
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="contact"
    title="Connectons nous"
    subtitle="Connectons-nous pour discuter de vos projets et explorer comment je peux vous accompagner."
    actions={[
      {
        variant: 'primary',
        text: 'E-Mail',
        href: 'mailto:contact@fabricemonnier.com',
        icon: 'tabler:mail'
      },
      {
        variant: 'primary',
        text: 'LinkedIn',
        href: 'https://www.linkedin.com/in/monnierf/',
        icon: 'tabler:brand-linkedin'
      }
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->
  {blogEnabled() && 
  <BlogLatestPosts
    id="blog"
    title="Découvrez mes articles sur mon blog."
    information={`Articles et réflexions autour du développement logiciel, de l'architecture, du cloud.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>}
</Layout>
