---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';
import blogEnabled from '~/../envConfig';
const metadata = {
  title: 'Fabrice Monnier - Freelance DevOps / Architecture / Cloud ',
};
---

<Layout metadata={metadata}>


  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Fabrice Monnier"
    tagline="Freelance DevOps - Architecture - Cloud"
    actions={[{ variant: 'primary', text: 'Contact me', href: getPermalink('#contact') }]}
  >
    <Fragment slot="subtitle">
      I’m an IT expert with over 20 years of experience, helping businesses design technical solutions that address real-world challenges. <br />
      My specialities are DevOps, Backend Development and Cloud Computing.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={}
    image={{
      src: '~/assets/images/christopher-gower-m_HRfLhgABo-unsplash.jpg',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        I’m a freelance software and cloud architect with several years of experience designing, building, and delivering robust, scalable solutions that meets your business requirements.
      </p>
      <br />
      <p>
        Specialized in AWS (with 6 certifications), I support your cloud, data, and application projects from initial planning to production deployment.
      </p>
      <br />
      <p>Before going freelance, I worked with software vendors and investment banks, both in France and internationally, giving me the opportunity to work with a wide range of clients.</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Solutions Consultant <br /> <span class="font-normal">Ataccama (Data Quality SaaS vendor), Paris (Full Remote), France</span> <br /> <span class="text-sm font-normal">2022 - Present</span>',
        description: `Demonstrate the business value of Attacama's product to prospects through proof of concepts and workshops. <br /> Prototypes (e.g. integration to Databricks, AWS, Azure). <br />`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'AWS Solutions Architect <br /> <span class="font-normal">Amazon Web Services, Paris, France</span> <br /> <span class="text-sm font-normal">2021 - 2022</span>',
        description: `Assisted existing clients and prospects in building cloud architectures on AWS. <br /> Delivered proof of concepts. <br /> Presented webinars, organized workshops to demonstrate AWS value proposal.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Technical Architect <br /> <span class="font-normal">Societe Generale Investment Banking, Paris, France</span> <br /> <span class="text-sm font-normal">2020 - 2021</span>',
        description: `Technical architect for the Risk IT Department at SGIB, supporting development teams in Paris and Bangalore in migrating the Risk Information System to Microsoft Azure public cloud. <br /> Java, Spark, Kafka, Hadoop, Docker, Kubernetes, Microsoft Azure (HDInsight, AKS).`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Senior Technical Leader - Cloud & Big Data <br /> <span class="font-normal">Societe Generale Investment Banking, Paris, France</span> <br /> <span class="text-sm font-normal">2017 - 2020</span>',
        description: `Technical lead for the central repository of pre-trade and post-trade data at SGIB, aggregated for regulatory reporting and risk analysis. <br /> Designed and developed APIs using the Java Spring Boot / Spring Cloud stack.<br /> Architected and built large-scale data processing pipelines on Hadoop/Spark and Microsoft Azure.<br /> Led the progressive migration of data processing workflows to Azure cloud.<br /> Managed a team of 10 developers in Paris and 2 developers in India.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Technical Leader & Scrum Master - Full Stack <br /> <span class="font-normal">Lyxor Asset Management, Paris, France</span> <br /> <span class="text-sm font-normal">2014 - 2010</span>',
        description: `Full-stack developer & technical lead<br /> Front End: Apache/PHP/MySQL, AngularJS, jQuery, Bootstrap. <br /> Back End: Java, SOAP web services, custom computation engine interfacing with an Oracle 11G database via JMS queue.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Technical Leader & Project Manager <br /> <span class="font-normal">Societe Generale / Risk Management, Paris, France</span> <br /> <span class="text-sm font-normal">2010 - 2014</span>',
        description: `Large scale regulatory program (Basel 2 compliance). <br /> Team management (2 Business Analysts, 6 Developers). <br /> Project Management. <br /> Coordination with off-shore team in Bangalore (1 Business Analyst/4 Developers). <br /> Technical & Functional Lead.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Senior Developer <br /> <span class="font-normal">Reuters Financial Software, Paris, France</span> <br /> <span class="text-sm font-normal">2002 - 2010</span>',
        description: `C, C++ and Java developer. <br /> Web developer (JSP, Servlets).`,
        icon: 'tabler:briefcase',
      }
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master of Computer Science<br /> <span class="font-normal">Ecole Française d'Electronique et d'Informatique (EFREI) - Paris, France</span> <br /> <span class="text-sm font-normal">1997 - 2002</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Master in Finance<br /> <span class="font-normal">CNAM - ESSEC - Paris, France</span> <br /> <span class="text-sm font-normal">2007 - 2009</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to deliver value through software craftmanship."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Cloud Computing',
        description: 'Proficient in operating and building applications for AWS and Microsoft Azure.',
      },
      {
        title: 'Data Platforms',
        description: 'Extensive knowledge of Cloud warehouses (Snowflake, Amazon Redshift), Streaming platforms (Kafka, JMS, Amazon Kinesis), Big data ecosystem (Hadoop, Spark, Hive, HBase, Databricks) and relational databases (PostgreSQL, Oracle, SQL Server).',
      },
      {
        title: 'Languages/Frameworks',
        description: 'Deep knowledge of Java, Python, Spring framework (Spring Core, Spring Boot, Spring CLoud), NodeJS, Apache NiFi, and much more',
      },
      {
        title: 'DevOps',
        description: 'Fluent with Maven, Jenkins, Sonar, GitHub, GitLab, ElasticSearch, Logstash, Kibana, Docker/Kubernetes.',
      },
      {
        title: 'Delivery processes',
        description: 'Experience in project management and Agile processes.',
      },
      {
        title: 'Software Craftmanship',
        description: 'Skilled with unit testing, TDD, BDD, Mocks/Stubs, Pair programming, refactoring.',
      }
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="contact"
    title="Let's connect"
    subtitle="Whether you are looking for help on your projects, or just willing to chat."
    actions={[
      {
        variant: 'primary',
        text: 'E-Mail',
        href: 'mailto:contact@fabricemonnier.com',
        icon: 'tabler:mail'
      },
      {
        variant: 'primary',
        text: 'LinkedIn',
        href: 'https://www.linkedin.com/in/monnierf/',
        icon: 'tabler:brand-linkedin'
      }
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->
  {blogEnabled() && 
  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>}
</Layout>
